.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    /* bacSkground-color: aqua; */
}

.navbar-input{
    font-family: 'Comic Sans MS', sans-serif;
    height: 30px;
    font-size: 1rem;
    padding-left: 1rem;
    border: 1px solid black;
    border-radius: 15px;
}

.navbar-input:focus{
    border: 2px solid orange;
    outline: none;
}

.weather-main-icon{
    margin-top: 10px;
    margin-right: 5px;
    width:40px;
    height: 40px;
}

.logo-name{
    display: flex;
    justify-content: center;
}